/*
Theme Name: Spacious Child Theme
Theme URI: http://themegrill.com/themes/spacious
Description: This is a child theme for Spacious
Author: spacious
Author URI: http://themegrill.com
Template: spacious
Version: 1.0
*/
@import url("../spacious/style.css");  
	.main-navigation a:hover,
	.main-navigation ul li.current-menu-item a,
	.main-navigation ul li.current_page_ancestor a,
	.main-navigation ul li.current-menu-ancestor a,
	.main-navigation ul li.current_page_item a,
	.main-navigation ul li:hover > a {
		color: #0096ee;
	}
a:hover {
	color: #0096ee !important;
}
.aspk_sub_men ul ul {
	background: #A6A4A2 !important; border-radius: 0px !important; padding: 0 !important;
	position: absolute !important; top: 100%!important;
}
	.aspk_sub_men ul ul li {
		float: none; 
		border-top: 1px solid #0096ee !important;
		border-bottom: none !important;
		position: relative !important;
	}
		.aspk_sub_men ul ul li a {
			padding: 2px 5px !important;
			color: #fff !important;
			
		}	
			.aspk_sub_men ul ul li a:hover {
				background: #4b545f !important;
			}
.aspk_sub_men ul ul ul {
	position: absolute !important; left: 100% !important; top:0 !important;
}
.aspk_sub_men  li a:hover{
	display:block !important;
}

.aspk_sub_men li a {
	color:gray !important;
	font-size:12px !important;
	padding: 7px 10px 0px !important;
	border-right:1px solid black !important;
	background: url(images/blue.png) no-repeat 0 center !important;
}
.main-navigation a {
	color: white;
	display: block;
	float: left;
	font-weight:700;
	padding: 16px 0 0;
	height: 30px;
	font-size:19px;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	 
}
nav#sub-site-navigation li:last-child a {
 border-right: medium none !important;
}

#sub-site-navigation{
	background-color: #e6e6e6;
	border-bottom: black solid 7px;
	padding: 7px;
	border-top: #0096ee solid 6px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #807b7b;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	padding: 12px;
	text-shadow: 1px 1px 1px #fff;


}
#header-text-nav-container {
	border-bottom: 7px solid rgba(0,150,238,.5);
	width:100%;
	background: rgba(0,0,0,.5) !important;
	/* background: transparent !important; 
	position:fixed;*/
	z-index:999;
	
	
}
#page {
	width: 100%;
}
body {
	padding-top: 0px; 
	padding-bottom: 0px;
}
#header-text-nav-wrap{
	padding-bottom: 0px;
}
#header-logo-image {
	width:18em;
	padding-left:15px;
	float:left; 	
}
.agile_header_image{
	background-image: url("images/Dollarphotoclub_77793798.jpg");
	background-repeat: no-repeat;
}
.header_right_login{
	background-image: url("images/padlock.png");
	background-position: 0 2px;
	background-repeat: no-repeat;
	background-size: 25px 18px;
	display: block;
	padding-left: 1.2em;
	margin-top: 1em;
}
.aspk_login{
	color: white;
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.aspk_login:hover{
	color: #0096ee;
}
.aspk_footer_logo{
	font-size: 45px !important;
	text-align: center !important;
	font-weight: 900 !important;
	margin-bottom: 22px !important;
	color: #222 !important;
}
.aspk_foot{
	display:inline-block;
	margin:0 10px;
}
.agile_footer_pic{
	background: #f3f2f2;
	text-align: center;
	font-weight: 700;
	padding: 30px;
	width:100%;
	float:left;
}
.agile_footer_bgcolor{
	color: #fff !important;
	background: #333 !important;
	margin-bottom: 20px !important;
	padding: 25px !important;
}
.widget-title{
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	margin: 13px 0 24px;
}
.menu-footer-menu-container > ul > li > a:before{
	content:" + "
}
.menu-footer-menu-container > ul > li > a{
	color: #fff;
	padding: 2px 10px 2px 19px;
}
.menu-footer-menu-container > ul > li > a:hover{
	color: #0096ee;
}
.orange-btn{
	background: #FF7F51;
	color: #fff;
	text-decoration: none;
}
.aspk_footer_col{
	min-height: 19em !important;
	border-right: 1px solid #858585;
	border-left: 1px solid #858585;
}
.headline{
	font-size: 45px;
	font-family:  sans-serif!important;
	font-weight: 700;
	text-shadow: 1px 1px 2px #000;
	text-align:center;
	line-height:1;
	color:white;
	margin-top:80px;
}
.blue-highlight {
	color: #0096ee;
}
.homepage-featured-box {
	border: 2px solid rgba(51,51,51,.7);
	border-radius: 3px;
	overflow: hidden;
	padding-bottom: 30px;
	max-width: 500px;
	margin: -175px auto 20px; 
}
.h-heading {
	background: rgba(51, 51, 51, 0.7);
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	font-family:  sans-serif;
	margin: 0;
	text-transform: uppercase;
	padding: 25px 0 20px;
}
#show_black_form_screen{
	display:none;
	background: url(images/overlay.png) repeat 0 0;
	position: fixed;
	height:100%;
	opacity:0.8;
	z-index: 9999;
	cursor: pointer;
	visibility: visible;
	width: 100%;
	top:0;
	left:0;
}
.inner-wrap{
	/* margin:0; */
	width: 100% !important;
}
.homepage-featured-box p {
	color: #333;
	margin-top: 20px;
	text-align:center;
}
.h-heading:after {
	background:  url("images/arrow-box-bg3.png") no-repeat scroll center bottom transparent; 
	content: "";
	display: block;
	height: 155px;
	margin-top: 15px;
	position: absolute;
	width: 355px;
}
a.download-btn {
	background: #fb5113;
	padding: 8px 11px;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	display: block;
	max-width: 245px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 20px auto 0;
	line-height: 41px;
	font-size: 15px;
}
ul#menu-footer-menu-1 > li {
	margin-bottom: 5px;
}
.testi-msg:before{
	background-image: url("images/comment.png");
	background-repeat: no-repeat;
}
.testi-msg p{
	font-size: 25px !important;
	color: #666 !important;
	font-style: italic !important;
	padding: 0 10px 10px 0;
	line-height:1.2;
}
.testi_msg {
	font-size: 15px !important;
	color: white !important;
	font-style: italic !important;
	padding: 0 10px 10px 0;
}
.orange-btn:hover, a.download-btn:hover {
	background: #FF7F51 !important;
	color: #fff !important;
	text-decoration: none;
}
a .orange-btn:hover{
	background: #FF7F51 !important;
	color: #fff !important;
	text-decoration: none;
}


	